USE [master]
GO
/****** Object:  Database [Interconnected]    Script Date: 12/12/2018 10:16:19 AM ******/
CREATE DATABASE [Interconnected]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Interconnected', FILENAME = N'd:\Vinh\sql\STUDENTPORTFOLI\MSSQL11.STUDENTPORTFOLI\MSSQL\DATA\Interconnected.mdf' , SIZE = 5120KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'Interconnected_log', FILENAME = N'd:\Vinh\sql\STUDENTPORTFOLI\MSSQL11.STUDENTPORTFOLI\MSSQL\DATA\Interconnected_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Interconnected].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Interconnected]
GO
/****** Object:  Table [dbo].[ABOUTS]    Script Date: 12/12/2018 10:16:19 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ABOUTS](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[CONTENTS] [nvarchar](4000) NULL,
 CONSTRAINT [PK_ABOUTS] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[CATEGORIES]    Script Date: 12/12/2018 10:16:19 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CATEGORIES](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[NAME] [nvarchar](255) NULL,
	[DESCRIPTION] [nvarchar](255) NULL,
	[ID_PARENT] [int] NULL,
	[URL_SLUG] [nvarchar](255) NULL,
 CONSTRAINT [PK_CATEGORIES] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[COMMENTS]    Script Date: 12/12/2018 10:16:19 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[COMMENTS](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[DETAIL] [nvarchar](4000) NOT NULL,
	[ID_USER] [int] NOT NULL,
	[ID_POST] [int] NOT NULL,
	[ID_PARENT] [int] NULL,
	[DATE_CREATED] [datetime] NULL,
	[DATE_EDIT] [datetime] NULL,
 CONSTRAINT [PK_COMMENTS] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[POST]    Script Date: 12/12/2018 10:16:19 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[POST](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[TITLE] [nvarchar](255) NULL,
	[PICTURE] [nvarchar](255) NULL,
	[DESCRIPTION] [nvarchar](500) NULL,
	[DETAIL] [nvarchar](4000) NULL,
	[ID_CATEGORY] [int] NOT NULL,
	[DATE_CREATED] [datetime] NULL,
	[DATE_EDIT] [datetime] NULL,
	[ID_USER] [int] NOT NULL,
	[ACTIVE] [bit] NULL,
	[URL_SLUG] [nvarchar](255) NULL,
 CONSTRAINT [PK_POST] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ROLES]    Script Date: 12/12/2018 10:16:19 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ROLES](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[NAME] [nvarchar](255) NULL,
	[DESCRIPTION] [nvarchar](255) NULL,
	[NAME_URL] [nvarchar](255) NULL,
 CONSTRAINT [PK_ROLES] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[USERS]    Script Date: 12/12/2018 10:16:19 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[USERS](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[EMAIL] [nvarchar](255) NULL,
	[FULLNAME] [nvarchar](255) NULL,
	[PICTURE] [nvarchar](255) NULL,
	[PHONE] [nvarchar](20) NULL,
	[ADDRESS] [nvarchar](20) NULL,
	[ACTIVE] [bit] NULL,
	[PASSWORD] [nvarchar](255) NULL,
	[ID_ROLE] [int] NOT NULL,
 CONSTRAINT [PK_USERS] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[VOTE]    Script Date: 12/12/2018 10:16:19 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VOTE](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ID_POST] [int] NOT NULL,
	[ID_USER] [int] NOT NULL,
 CONSTRAINT [PK_VOTE] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
ALTER TABLE [dbo].[CATEGORIES] ADD  CONSTRAINT [DF_CATEGORIES_ID_PARENT]  DEFAULT ((0)) FOR [ID_PARENT]
GO
ALTER TABLE [dbo].[COMMENTS]  WITH CHECK ADD  CONSTRAINT [FK_COMMENTS_POST] FOREIGN KEY([ID_POST])
REFERENCES [dbo].[POST] ([ID])
GO
ALTER TABLE [dbo].[COMMENTS] CHECK CONSTRAINT [FK_COMMENTS_POST]
GO
ALTER TABLE [dbo].[COMMENTS]  WITH CHECK ADD  CONSTRAINT [FK_COMMENTS_USERS] FOREIGN KEY([ID_USER])
REFERENCES [dbo].[USERS] ([ID])
GO
ALTER TABLE [dbo].[COMMENTS] CHECK CONSTRAINT [FK_COMMENTS_USERS]
GO
ALTER TABLE [dbo].[POST]  WITH CHECK ADD  CONSTRAINT [FK_POST_CATEGORIES] FOREIGN KEY([ID_CATEGORY])
REFERENCES [dbo].[CATEGORIES] ([ID])
GO
ALTER TABLE [dbo].[POST] CHECK CONSTRAINT [FK_POST_CATEGORIES]
GO
ALTER TABLE [dbo].[POST]  WITH CHECK ADD  CONSTRAINT [FK_POST_USERS] FOREIGN KEY([ID_USER])
REFERENCES [dbo].[USERS] ([ID])
GO
ALTER TABLE [dbo].[POST] CHECK CONSTRAINT [FK_POST_USERS]
GO
ALTER TABLE [dbo].[USERS]  WITH CHECK ADD  CONSTRAINT [FK_USERS_ROLES] FOREIGN KEY([ID_ROLE])
REFERENCES [dbo].[ROLES] ([ID])
GO
ALTER TABLE [dbo].[USERS] CHECK CONSTRAINT [FK_USERS_ROLES]
GO
ALTER TABLE [dbo].[VOTE]  WITH CHECK ADD  CONSTRAINT [FK_VOTE_POST] FOREIGN KEY([ID_POST])
REFERENCES [dbo].[POST] ([ID])
GO
ALTER TABLE [dbo].[VOTE] CHECK CONSTRAINT [FK_VOTE_POST]
GO
ALTER TABLE [dbo].[VOTE]  WITH CHECK ADD  CONSTRAINT [FK_VOTE_USERS] FOREIGN KEY([ID_USER])
REFERENCES [dbo].[USERS] ([ID])
GO
ALTER TABLE [dbo].[VOTE] CHECK CONSTRAINT [FK_VOTE_USERS]
GO
USE [master]
GO
